*.mp4
*.avi
*.weights
yolo-balls/*
.vs/*
python_gui/.vs/*
python_gui/code/.vs/*
*.pyc
*.suo
.DS_Store

**\.vs\*
*.pb
*.pbtxt
User_Interface/sean_webtest/.vs/ProjectSettings.json
User_Interface/sean_webtest/.vs/slnx.sqlite
