.header {
    width = 80%;
    margin-left: auto;
    margin-right: auto;
    color: red;
}

.home_pic {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    /*padding: 10px; 
    */
    max-width: 600px;
    object-fit: contain;
}

.title_text {
    text-align:center;
    font-size: 200%;
    font-family: monospace;
    font: "optima";
    background-color: coral;
}