.video_zone {
    background-color: skyblue;
}

.header {
    width = 80%;
    margin-left: auto;
    margin-right: auto;
    color: red;
}


.bio_text {
    flex:55%
    text-align: center;
}

#bios {
    text-align: center;
    font-family: monospace;
}

.title_text {
    text-align:center;
    font-size: 200%;
    font-family: monospace;
    font: "optima";
    background-color: coral;
}